header.header
  .header__wrapper
    .header__column
      a(href=routes.home)
        i.fab.fa-instagram
    .header__column
      form(action=routes.search, method="get")
        input(type="text", placeholder="Search everything!", name="term")
    .header__column
      if !authenticated === false
        ul
          li
            a(href=routes.join) Join
          li
            a(href=routes.login) Login
      else
        ul
          li
            a(href=`/posts${routes.uploadPost}`) Post
          li
            a(href=`/users${routes.userDetail}`) Profile