extends layouts/main.pug
include mixins/miniPostBlock

block content
  .userDetailPage
    .userProfileGroup
      img.userImage(src=user.avatarUrl)
      p.userNickname= user.name
      p.userDescription= user.description
    .userActivityGroup
      i.far.fa-file-alt
      i.far.fa-comment-alt
      i.fas.fa-heart
      a.userArticles= user.posts.length
      a.userComments= user.comments.length
      a.userLiked= user.liked
    if findingUser.id === user.id
      .userSimpleController
        a.userControllerButton
          button= '📋 Account Management'
        a.logoutButton
          button= '🔑 Logout'
  .userPostsList
    each item in findingUser.posts
      +miniPostBlock(item)
      +miniPostBlock(item)
      +miniPostBlock(item)
      +miniPostBlock(item)
      +miniPostBlock(item)